<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1 style="color:rgb(145, 16, 16);">Thank You For Shopping in E-Kart</h1>

    <img src="{{ url_for('static', filename='thank-you-for-shopping-sign-a-paper-price-tag-with-a-twine-isolated-on-white-PP62CH.jpg') }}" alt="Image" width="100%" height="490" >
</body>
</html>
